/*!
global > color
--------------------------------------
*/
:root {
  --color-bg-markerline: #efe752;
  --color-bg-markerline02: #ffe57d;
  --color-bg-dot: #f2e916;
  --color-bg-dot-inner: #f7f392;
  --color-bg-dot02: #eee5d8;
  --color-bg-white: #fafafa;
  --color-bg-lightbrown: #e8e3df;
  --color-bg-lightbrown02: #ecece2;
  --color-bg-brown: #91806c;
  --color-bg-yellow: #ece202;
  --color-bg-yellow02: #f2e916;
  --color-bg-lightyellow: #fffee4;
  --color-bg-red: #c30d23;
  --color-bg-red02: #e88a69;
  --color-bg-gray: #828282;
  --color-bg-gradation: #5a3f37;
  --color-bg-gradation02: #6c4c16;
  --color-border-gray: #c9c9c9;
  --color-border-gray02: #9f958c;
  --color-border-white: #ffffff;
  --color-border-header-yellow: #fbd9b1;
  --color-border-header-red: #ef8e8e;
  --color-border-header-green: #a2b78f ;
  --color-border-header-brown: #d1bea9;
  --color-border-header-orange: #f2b98f;
  --color-font-header-sub: #11361F;
  --color-font-black: #474747;
  --color-font-white: #ffffff;
  --color-font-brown: #756351;
  --color-font-red: #b32133;
  --color-font-red02: #c30d23;
  --color-font-blue: #0f59ac;
  --color-font-green: #468e20;
  --color-font-yellow: #fff600;
  --color-font-lightbrown: #abac28;
  --color-font-copyright: #91806c;
}

/*!
global > content-width
-------------------------------
*/
:root {
  --width-content: 1170px;
}

/*!
global > font
-----------------------------
*/
@font-face {
  font-family: "HarenosoraMincho";
  src: url(../fonts/Harenosora.woff) format(woff);
}
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-primary: "HarenosoraMincho", serif;
  --font-family-secondary: "Noto Serif JP", serif;
}

/*!
global > mixin
-----------------------------
*/
/*!
global > mixin
-----------------------------
*/
:root {
  --z-index-header: 10;
  --z-index-sp-menu: 9;
  --z-index-sp-menu-mask: 8;
  --z-index-header-btn: 20;
  --z-index-default: 1;
}

/*!
foundation > reset
--------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  *font-size: 100%;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
--------------------------
*/
body {
  color: var(--color-font-black);
  background-color: var(--color-bg-white);
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

/*!
page > top > top-kv
--------------------------
*/
.top-kv {
  background-color: var(--color-bg-lightbrown);
  position: relative;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-kv::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: inherit;
  z-index: 2;
}
.top-kv::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}

.top-kv-cta-copy {
  font-size: 18px;
  color: var(--color-font-brown);
}
@media screen and (min-width: 768px) {
  .top-kv-cta-copy {
    font-size: 24px;
    text-align: center;
  }
  .top-kv-cta-copy span {
    display: block;
  }
}

.top-kv-cta-copy-marker {
  background-color: var(--color-bg-markerline);
}

.top-kv-treat {
  display: none;
}
@media screen and (min-width: 1200px) {
  .top-kv-treat {
    display: block;
    position: relative;
    z-index: var(--z-index-default);
  }
}

@media screen and (min-width: 1200px) {
  .top-kv-treat-img-tomato {
    position: absolute;
    display: block;
    width: 330px;
    bottom: -350px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .top-kv-treat-img-horenso {
    position: absolute;
    display: block;
    width: 200px;
    bottom: -80px;
    right: 0;
  }
}

/*!
page > top > top-reason
--------------------------
*/
.top-reason {
  background-image: url(../img/bg-pattern-top-reason@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  background-size: 100px;
  /* section-separate-treat */
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-reason::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/bg-pattern-top-reason@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}
.top-reason::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-image: url(../img/bg-pattern-top-reason@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-reason.jpg) 1x, url(../img/bg-pattern-top-reason@2x.jpg) 2x);
  z-index: 2;
}

.top-reason-title-red {
  color: var(--color-font-red);
}

.top-reason-title-green {
  color: var(--color-font-green);
  font-size: 38px;
}
@media screen and (min-width: 768px) {
  .top-reason-title-green {
    font-size: 65px;
  }
}

.top-reason-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .top-reason-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .top-reason-list {
    gap: 64px;
  }
}

@media screen and (min-width: 768px) {
  .top-reason-item {
    width: calc((100% - 48px - 10%) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .top-reason-item {
    width: calc((100% - 128px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .top-reason-item:last-child {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .top-reason-item:last-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .top-reason-item-inner {
    display: block;
  }
}

.top-reason-item-title {
  font-weight: 300;
  line-height: 1.2;
  display: grid;
  gap: 0 16px;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 30% 70%;
}
@media screen and (min-width: 768px) {
  .top-reason-item-title {
    font-size: 40px;
    display: block;
  }
}
.top-reason-item-title::before {
  grid-column: 1/2;
  grid-row: 1/3;
  font-weight: bold;
  font-size: 32px;
  font-family: var(--font-family-secondary);
  color: var(--color-font-white);
  display: grid;
  place-items: center;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .top-reason-item-title::before {
    margin: 0 auto 12px;
    font-size: 40px;
  }
}
.top-reason-item-title--num::before {
  content: "1";
  background-image: url(../img/bg-top-reason-red@2x.png);
  background-image: image-set(url(../img/bg-top-reason-red.png) 1x, url(../img/bg-top-reason-red@2x.png) 2x);
  background-image: -webkit-image-set(url(../img/bg-top-reason-red.png) 1x, url(../img/bg-top-reason-red@2x.png) 2x);
}
.top-reason-item-title--num02::before {
  content: "2";
  background-image: url(../img/bg-top-reason-green@2x.png);
  background-image: image-set(url(../img/bg-top-reason-green.png) 1x, url(../img/bg-top-reason-green@2x.png) 2x);
  background-image: -webkit-image-set(url(../img/bg-top-reason-green.png) 1x, url(../img/bg-top-reason-green@2x.png) 2x);
}
.top-reason-item-title--num03::before {
  content: "3";
  background-image: url(../img/bg-top-reason-orange@2x.png);
  background-image: image-set(url(../img/bg-top-reason-orange.png) 1x, url(../img/bg-top-reason-orange@2x.png) 2x);
  background-image: -webkit-image-set(url(../img/bg-top-reason-orange.png) 1x, url(../img/bg-top-reason-orange@2x.png) 2x);
}

.top-reason-item-title-sm {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 14px;
  display: block;
  font-family: var(--font-family-base);
  color: var(--color-font-black);
}
@media screen and (min-width: 768px) {
  .top-reason-item-title-sm {
    text-align: center;
    font-size: 16px;
  }
}

.top-reason-item-title-lg {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 28px;
  color: var(--color-font-red);
  display: block;
}
@media screen and (min-width: 768px) {
  .top-reason-item-title-lg {
    font-size: 36px;
    text-align: center;
  }
}

.top-reason-item-description {
  padding-top: 20px;
  margin-top: 16px;
  position: relative;
  font-size: 16px;
}
.top-reason-item-description::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background-image: repeating-linear-gradient(-45deg, var(--color-font-black), var(--color-font-black) 1px, transparent 0, transparent 5px);
}
@media screen and (min-width: 768px) {
  .top-reason-item-description {
    line-height: 2;
  }
}
.top-reason-item-description span {
  color: var(--color-font-red);
}

/*!
page > top > top-quality
--------------------------
*/
.top-quality {
  background-image: url(../img/bg-top-quality-l.png), url(../img/bg-top-quality-r.png), repeating-linear-gradient(-45deg, var(--color-bg-lightbrown02), var(--color-bg-lightbrown02) 2px, transparent 0, transparent 4px);
  background-repeat: no-repeat;
  background-position: left 10% bottom 30%, right 10% bottom 30%, center;
  position: relative;
  /* section-separate-treat */
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
@media screen and (min-width: 500px) {
  .top-quality {
    background-position: left 5% bottom 20%, right 5% bottom 20%, center;
  }
}
@media screen and (min-width: 1080px) {
  .top-quality {
    background-position: left 10% bottom 20%, right 10% bottom 20%, center;
  }
}
@media screen and (min-width: 1200px) {
  .top-quality {
    background-position: left 20% center, right 20% center, center;
  }
}
.top-quality::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-image: repeating-linear-gradient(-45deg, var(--color-bg-lightbrown02), var(--color-bg-lightbrown02) 2px, var(--color-bg-white) 0, var(--color-bg-white) 4px);
  background-repeat: no-repeat;
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}
.top-quality::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-image: repeating-linear-gradient(-45deg, var(--color-bg-lightbrown02), var(--color-bg-lightbrown02) 2px, var(--color-bg-white) 0, var(--color-bg-white) 4px);
  background-repeat: no-repeat;
  z-index: 2;
}

.top-quality-body {
  position: relative;
}
@media screen and (min-width: 500px) {
  .top-quality-body {
    height: 704px;
  }
}
@media screen and (min-width: 768px) {
  .top-quality-body {
    height: 788px;
  }
}
@media screen and (min-width: 1080px) {
  .top-quality-body {
    height: 570px;
  }
}

.top-quality-text {
  background-image: linear-gradient(to right, var(--color-bg-gradation) 0%, var(--color-bg-gradation02) 60%, var(--color-bg-gradation) 100%);
  padding: 24px;
  color: var(--color-font-white);
}
@media screen and (min-width: 500px) {
  .top-quality-text {
    height: 364px;
  }
}
@media screen and (min-width: 768px) {
  .top-quality-text {
    padding: 40px;
  }
}
@media screen and (min-width: 1080px) {
  .top-quality-text {
    position: absolute;
    top: 24px;
    right: 0;
    height: auto;
    width: 65%;
    padding: 40px 80px 40px 84px;
  }
}

.top-quality-copy {
  font-family: var(--font-family-secondary);
  font-size: 24px;
  line-height: 1.2;
}
.top-quality-copy span {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .top-quality-copy {
    font-size: 36px;
  }
}

.top-quality-copy02 {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .top-quality-copy02 {
    margin-top: 36px;
  }
}
@media screen and (min-width: 768px) {
  .top-quality-copy02 span {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .top-quality-copy02 em {
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-font-white) 2px, transparent 2px);
    background-size: 10px 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
}

.top-quality-img {
  width: 100%;
}
@media screen and (min-width: 500px) {
  .top-quality-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 425px;
  }
}
@media screen and (min-width: 768px) {
  .top-quality-img {
    left: 60%;
  }
}
@media screen and (min-width: 1080px) {
  .top-quality-img {
    left: 20%;
  }
}

.top-quality-treat {
  display: none;
}
@media screen and (min-width: 1200px) {
  .top-quality-treat {
    display: block;
    position: relative;
    z-index: var(--z-index-default);
  }
}

@media screen and (min-width: 1200px) {
  .top-quality-treat-img-tomato {
    position: absolute;
    display: block;
    width: 100px;
    bottom: 30px;
    right: 353px;
  }
}
.top-quality-treat-img-tomato--reverse {
  transform: scale(-1, 1);
  bottom: 75px;
  right: 200px;
}

@media screen and (min-width: 1200px) {
  .top-quality-treat-img-aspara {
    position: absolute;
    display: block;
    width: 250px;
    bottom: -130px;
    right: 0;
  }
}

/*!
page > top > top-organic
--------------------------
*/
.top-organic {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-organic::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: var(--color-bg-white);
  z-index: 2;
}
.top-organic::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-white);
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}

.top-organic-inner {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .top-organic-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
  }
}

.top-organic-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-organic-img {
    display: block;
    flex-shrink: 0;
  }
}

.top-organic-description span {
  display: inline-block;
}
.top-organic-description em {
  color: var(--color-font-lightbrown);
}
@media screen and (min-width: 768px) {
  .top-organic-description {
    margin-left: 20px;
    font-size: 18px;
  }
}

/*! top-organic-method */
.top-organic-method {
  position: relative;
}
.top-organic-method::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-image: repeating-linear-gradient(-45deg, var(--color-border-gray), var(--color-border-gray) 2px, transparent 0, transparent 4px);
}

.top-organic-method-title {
  color: var(--color-font-brown);
  text-align: center;
  font-size: 18px;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .top-organic-method-title {
    padding-top: 40px;
  }
}
.top-organic-method-title h3 {
  display: inline-block;
  background-color: var(--color-bg-dot02);
  background-image: radial-gradient(var(--color-bg-white) 30%, transparent 30%), radial-gradient(var(--color-bg-white) 30%, transparent 30%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  padding: 8px 20px;
}

.top-organic-method-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 0;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .top-organic-method-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin-top: 24px;
  }
}

.top-organic-method-list-inner:nth-child(1) {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-organic-method-list-inner:nth-child(1) .top-organic-method-list-item {
  margin: 0;
}
.top-organic-method-list-inner:nth-child(2) {
  grid-column: 2/4;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-inner:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2px;
    height: 90%;
    background-color: var(--color-border-gray);
  }
}
.top-organic-method-list-inner:nth-child(3) {
  grid-column: 1/4;
}
.top-organic-method-list-inner:nth-child(2), .top-organic-method-list-inner:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
@media screen and (min-width: 1200px) {
  .top-organic-method-list-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .top-organic-method-list-inner:nth-child(1) {
    grid-column: 1/2;
  }
  .top-organic-method-list-inner:nth-child(2), .top-organic-method-list-inner:nth-child(3) {
    position: relative;
  }
  .top-organic-method-list-inner:nth-child(2)::before, .top-organic-method-list-inner:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--color-border-gray);
  }
  .top-organic-method-list-inner:nth-child(2) {
    grid-column: 2/4;
  }
  .top-organic-method-list-inner:nth-child(2)::before {
    left: 0px;
  }
  .top-organic-method-list-inner:nth-child(3) {
    grid-column: 4/6;
  }
  .top-organic-method-list-inner:nth-child(3)::before {
    left: -12px;
  }
}

.top-organic-method-list-item {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item {
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item:nth-child(1) {
    grid-column: 1/2;
    margin-left: auto;
    margin-right: 24px;
  }
  .top-organic-method-list-item:nth-child(2) {
    grid-column: 2/3;
    margin-right: auto;
    margin-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .top-organic-method-list-item:nth-child(1), .top-organic-method-list-item:nth-child(2) {
    margin: 0;
  }
}
.top-organic-method-list-item--bg-yellow {
  background-image: url(../img/icon-top-organic-method@2x.png), url(../img/bg-top-organic-yellow@2x.png);
  background-size: 28px 20px, 130px;
  background-position: top 20% right 50%, center;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item--bg-yellow {
    background-position: top 15% right 50%, center;
    background-size: 42px 30px, 150px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item--bg-yellow {
    background-size: 42px 30px, 180px;
  }
}
.top-organic-method-list-item--bg-pink {
  background-image: url(../img/icon-top-organic-method@2x.png), url(../img/bg-top-organic-pink@2x.png);
  background-size: 28px 20px, 130px;
  background-position: top 20% right 50%, center;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item--bg-pink {
    background-position: top 15% right 50%, center;
    background-size: 42px 30px, 150px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item--bg-pink {
    background-size: 42px 30px, 180px;
  }
}
.top-organic-method-list-item--bg-green {
  background-image: url(../img/icon-top-organic-method@2x.png), url(../img/bg-top-organic-green@2x.png);
  background-size: 28px 20px, 130px;
  background-position: top 20% right 50%, center;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item--bg-green {
    background-position: top 15% right 50%, center;
    background-size: 42px 30px, 150px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item--bg-green {
    background-size: 42px 30px, 180px;
  }
}
.top-organic-method-list-item--bg-orange {
  background-image: url(../img/icon-top-organic-method@2x.png), url(../img/bg-top-organic-orange@2x.png);
  background-size: 28px 20px, 130px;
  background-position: top 20% right 50%, center;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item--bg-orange {
    background-position: top 15% right 50%, center;
    background-size: 42px 30px, 150px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item--bg-orange {
    background-size: 42px 30px, 180px;
  }
}
.top-organic-method-list-item--bg-brown {
  background-image: url(../img/icon-top-organic-method@2x.png), url(../img/bg-top-organic-brown@2x.png);
  background-size: 28px 20px, 130px;
  background-position: top 20% right 50%, center;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item--bg-brown {
    background-position: top 15% right 50%, center;
    background-size: 42px 30px, 150px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item--bg-brown {
    background-size: 42px 30px, 180px;
  }
}

.top-organic-method-list-item-name {
  font-size: 18px;
  color: var(--color-font-white);
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item-name {
    font-size: 24px;
  }
}

.top-organic-method-list-item-text {
  background-color: var(--color-bg-white);
  padding: 0 4px;
  border: 1px solid var(--color-border-gray02);
  font-size: 12px;
}
.top-organic-method-list-item-text--blue {
  color: var(--color-font-blue);
}
.top-organic-method-list-item-text--red {
  color: var(--color-font-red);
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-item-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .top-organic-method-list-item-text {
    font-size: 16px;
  }
}

.top-organic-method-list-description {
  width: 100%;
  text-align: center;
  grid-column: 1/3;
  font-size: 15px;
}
@media screen and (min-width: 500px) {
  .top-organic-method-list-description {
    margin-top: 24px;
  }
}

/*!
page > top > top-farmers
--------------------------
*/
.top-farmers {
  background-color: var(--color-bg-lightyellow);
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-farmers::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: inherit;
  z-index: 2;
}
.top-farmers::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}

.top-farmers-item {
  padding: 0 30px;
}

.top-farmers-item-title {
  position: relative;
  padding: 8px 16px;
  background-color: transparent;
  border: solid 1px var(--color-font-brown);
  border-radius: 5px;
  color: var(--color-font-brown);
}
.top-farmers-item-title:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 25%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid var(--color-bg-lightyellow);
  z-index: 2;
}
.top-farmers-item-title:after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 25%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid var(--color-font-brown);
  z-index: 1;
}
.top-farmers-item-title h3 {
  margin: 0;
  padding: 0;
}

.top-farmers-item-info {
  color: var(--color-font-brown);
  font-size: 18px;
  margin-top: 28px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top-farmers-item-info {
    font-size: 16px;
    margin-top: 40px;
  }
}
.top-farmers-item-info span:not(:first-child) {
  margin-left: 8px;
}

.top-farmers-item-info-address {
  background-color: var(--color-bg-yellow);
}

.top-farmers-item-description {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .top-farmers-item-description {
    margin-top: 24px;
  }
}

.top-farmers-item-img {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .top-farmers-item-img {
    margin-top: 24px;
  }
}

/* slick-arrow */
.js-slider-farmers .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg-red);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 65%;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.js-slider-farmers .slick-arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-bg-white);
  border-width: 5px 0 5px 8px;
  position: absolute;
  top: 10px;
}
.js-slider-farmers .slick-next {
  right: -15px;
}
.js-slider-farmers .slick-next::before {
  left: 12px;
}
.js-slider-farmers .slick-prev {
  left: -15px;
}
.js-slider-farmers .slick-prev::before {
  border-width: 5px 8px 5px 0;
  border-color: transparent var(--color-bg-white) transparent transparent;
  right: 12px;
}

/*!
page > top > top-voice
--------------------------
*/
.top-voice {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-voice::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: var(--color-bg-white);
  z-index: 2;
}
.top-voice::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg-white);
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}

.top-voice-body {
  display: flex;
}

.top-voice-item {
  background-image: url(../img/bg-pattern-top-voice@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-voice.jpg) 1x, url(../img/bg-pattern-top-voice@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-voice.jpg) 1x, url(../img/bg-pattern-top-voice@2x.jpg) 2x);
  background-size: 100px;
  margin: 0 20px;
}

.top-voice-item-inner {
  display: flex;
  align-items: center;
  padding: 10px;
}

.top-voice-item-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 4px solid var(--color-border-white);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  flex-shrink: 0;
}
.top-voice-item-img--face {
  background-image: url(../img/pic-top-voice@2x.jpg);
  background-image: image-set(url(../img/pic-top-voice.jpg) 1x, url(../img/pic-top-voice@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/pic-top-voice.jpg) 1x, url(../img/pic-top-voice@2x.jpg) 2x);
  background-position: 75% 10%;
  background-size: 200%;
}
.top-voice-item-img--face02 {
  background-image: url(../img/pic-top-voice02@2x.jpg);
  background-image: image-set(url(../img/pic-top-voice02.jpg) 1x, url(../img/pic-top-voice02@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/pic-top-voice02.jpg) 1x, url(../img/pic-top-voice02@2x.jpg) 2x);
  background-position: 30% 25%;
  background-size: 200%;
}
.top-voice-item-img--face03 {
  background-image: url(../img/pic-top-voice03@2x.jpg);
  background-image: image-set(url(../img/pic-top-voice03.jpg) 1x, url(../img/pic-top-voice03@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/pic-top-voice03.jpg) 1x, url(../img/pic-top-voice03@2x.jpg) 2x);
  background-position: 70% 13%;
  background-size: 400%;
}

.top-voice-item-text {
  margin-left: 8px;
  position: relative;
}
.top-voice-item-text:after {
  content: "";
  width: 110%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: -16px;
  left: -10%;
  border-bottom: 1px solid var(--color-border-white);
  box-shadow: 0 1px rgba(164, 164, 164, 0.35);
}

.top-voice-item-title {
  color: var(--color-font-red02);
  font-family: var(--font-family-secondary);
  font-size: 22px;
}
@media screen and (min-width: 768px) {
  .top-voice-item-title {
    font-size: 18px;
  }
}

.top-voice-item-name {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .top-voice-item-name {
    font-size: 14px;
  }
}

.top-voice-item-message {
  padding: 20px 20px;
}
.top-voice-item-message span {
  display: inline-block;
}
.top-voice-item-message em {
  background-color: var(--color-bg-markerline02);
}
@media screen and (min-width: 768px) {
  .top-voice-item-message {
    padding: 32px;
  }
}

/* slick-arrow */
.js-slider-voice .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-bg-red);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 45%;
  z-index: 1;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.js-slider-voice .slick-arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-bg-white);
  border-width: 5px 0 5px 8px;
  position: absolute;
  top: 10px;
}
.js-slider-voice .slick-next {
  right: -15px;
}
.js-slider-voice .slick-next::before {
  left: 12px;
}
.js-slider-voice .slick-prev {
  left: -15px;
}
.js-slider-voice .slick-prev::before {
  border-width: 5px 8px 5px 0;
  border-color: transparent var(--color-bg-white) transparent transparent;
  right: 12px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

/*!
page > top > top-faq
--------------------------
*/
.top-faq {
  background-image: url(../img/bg-pattern-top-faq@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  /* section-separate-treat */
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.top-faq::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/bg-pattern-top-faq@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}
.top-faq::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-image: url(../img/bg-pattern-top-faq@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-top-faq.jpg) 1x, url(../img/bg-pattern-top-faq@2x.jpg) 2x);
  z-index: 2;
}

.top-faq-item {
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border-gray);
}
@media screen and (min-width: 768px) {
  .top-faq-item:not(:first-child) {
    margin-top: 16px;
  }
}

.top-faq-item-text {
  color: var(--color-font-brown);
  display: flex;
  align-items: baseline;
  position: relative;
}
.top-faq-item-text::before {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: var(--color-font-white);
  font-weight: bold;
  font-family: var(--font-family-secondary);
  display: grid;
  place-items: center;
  margin-right: 8px;
  flex-shrink: 0;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top-faq-item-text::before {
    font-size: 24px;
    width: 48px;
    height: 48px;
    margin-right: 32px;
  }
}
.top-faq-item-text--question {
  padding: 16px 40px 16px 16px;
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  .top-faq-item-text--question {
    pointer-events: none;
    padding: 24px 40px 0 32px;
  }
}
.top-faq-item-text--question::before {
  content: "Q";
  background-color: var(--color-bg-yellow);
}
.top-faq-item-text--answer {
  border-top: dashed 1px var(--color-font-brown);
  padding: 16px 16px 0;
}
@media screen and (min-width: 768px) {
  .top-faq-item-text--answer {
    border-top: none;
    padding: 16px 16px 0 32px;
  }
}
.top-faq-item-text--answer::before {
  content: "A";
  background-color: var(--color-bg-red02);
}

.top-faq-item-text--question.close .top-faq-item-text-button::after {
  transform: rotate(180deg);
}

.top-faq-item-text-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid var(--color-font-brown);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  display: grid;
  place-items: center;
}
.top-faq-item-text-button::after {
  content: "";
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: var(--color-font-brown) transparent transparent transparent;
}
@media screen and (min-width: 768px) {
  .top-faq-item-text-button {
    display: none;
  }
}

.top-faq-item-hidden-area {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-faq-item-hidden-area {
    display: block;
  }
}

.top-faq-item-title-answer {
  font-family: var(--font-family-secondary);
  font-size: 22px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .top-faq-item-title-answer {
    font-size: 24px;
  }
}

.top-faq-item-description {
  color: var(--color-font-black);
  padding: 12px 32px 16px 59px;
}
@media screen and (min-width: 768px) {
  .top-faq-item-description {
    padding: 12px 64px 40px 112px;
  }
}

/*!
page > loading
----------------------------
*/
/*!
component > title
----------------------
*/
/*! level2 */
.c-title-level2 {
  color: var(--color-font-brown);
  font-size: 28px;
  font-family: var(--font-family-primary);
  padding-bottom: 16px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-title-level2 {
    font-size: 48px;
    padding-bottom: 20px;
  }
}
.c-title-level2--cta {
  color: var(--color-font-white);
}
.c-title-level2--left {
  display: inline-block;
}
.c-title-level2--left span {
  text-align: left;
  display: block;
}
@media screen and (min-width: 1080px) {
  .c-title-level2--left span {
    display: inline-block;
  }
}

.c-title-level2-left {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.c-title-level2-sub {
  font-size: 14px;
  position: relative;
  padding: 0 16px;
  color: var(--color-font-brown);
  display: inline-block;
}
.c-title-level2-sub::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 28px;
  background-color: var(--color-font-brown);
  transform: rotate(-30deg);
}
.c-title-level2-sub::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  right: 0;
  bottom: 0;
  background-color: var(--color-font-brown);
  transform: rotate(30deg);
}
@media screen and (min-width: 768px) {
  .c-title-level2-sub {
    font-size: 16px;
  }
}
.c-title-level2-sub--cta {
  color: var(--color-font-yellow);
  position: relative;
}
.c-title-level2-sub--cta::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 28px;
  background-color: var(--color-font-yellow);
  transform: rotate(-30deg);
}
.c-title-level2-sub--cta::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  right: 0;
  bottom: 0;
  background-color: var(--color-font-yellow);
  transform: rotate(30deg);
}

.c-title-level2-sub-center {
  text-align: center;
}

/*! level3 */
.c-title-level3 {
  font-family: var(--font-family-secondary);
  font-size: 22px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .c-title-level3 {
    font-size: 24px;
  }
}

/*!
component > cta
----------------------
*/
.c-cta {
  background-color: var(--color-bg-brown);
  color: var(--color-font-white);
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(189, 189, 189, 0.35);
}
.c-cta::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: inherit;
  z-index: 2;
}
.c-cta::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  width: 40px;
  height: 20px;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 1px 3px 2px rgba(189, 189, 189, 0.35);
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .c-cta-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-cta-title-ribbon {
  display: block;
  margin: 8px auto;
  color: var(--color-font-brown);
  font-size: 16px;
  font-family: var(--font-family-secondary);
  font-weight: 600;
  background-color: var(--color-bg-dot);
  background-image: radial-gradient(var(--color-bg-dot-inner) 30%, transparent 30%), radial-gradient(var(--color-bg-dot-inner) 30%, transparent 30%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  position: relative;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 4px 24px;
}
@media screen and (min-width: 500px) {
  .c-cta-title-ribbon {
    margin: 8px 8px 0 0;
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-title-ribbon {
    font-size: 18px;
    height: 100%;
    margin: 12px 24px 0 0;
  }
}
.c-cta-title-ribbon::before, .c-cta-title-ribbon::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}
.c-cta-title-ribbon::before {
  top: 0;
  left: 0;
  border-width: 13px 0 13px 15px;
  border-color: transparent transparent transparent var(--color-bg-brown);
  border-style: solid;
}
@media screen and (min-width: 500px) {
  .c-cta-title-ribbon::before {
    border-width: 13px 0 13px 11px;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-title-ribbon::before {
    border-width: 20px 0 20px 15px;
  }
}
.c-cta-title-ribbon::after {
  top: 0;
  right: 0;
  border-width: 13px 15px 13px 0;
  border-color: transparent var(--color-bg-brown) transparent transparent;
  border-style: solid;
}
@media screen and (min-width: 500px) {
  .c-cta-title-ribbon::after {
    border-width: 13px 11px 13px 0;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-title-ribbon::after {
    border-width: 20px 15px 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-title-ribbon {
    font-size: 22px;
    padding: 8px 48px;
  }
}

.c-cta-title {
  display: block;
}

.c-cta-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .c-cta-inner {
    flex-direction: row;
    gap: 10%;
  }
}

@media screen and (min-width: 500px) {
  .c-cta-item {
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-item {
    display: block;
  }
}

.c-cta-item-farmer-title {
  font-size: 14px;
  border: 1px solid var(--color-border-white);
  padding: 2px 8px;
}
@media screen and (min-width: 768px) {
  .c-cta-item-farmer-title {
    font-size: 16px;
  }
}

.c-cta-item-farmer-address {
  margin-left: 4px;
}

.c-cta-item-farmer-name {
  font-size: 20px;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .c-cta-item-farmer-name {
    font-size: 24px;
  }
}

.c-cta-item-title {
  border-bottom: 1px solid var(--color-border-white);
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .c-cta-item-title {
    margin-top: 4px;
  }
}

.c-cta-item-price-num {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .c-cta-item-price-num {
    font-size: 24px;
  }
}

.c-cta-item-price-info {
  font-size: 14px;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .c-cta-item-price-info {
    font-size: 16px;
  }
}

.c-cta-item-img {
  margin-top: 16px;
}
@media screen and (min-width: 500px) {
  .c-cta-item-img {
    flex-shrink: 0;
    width: 30%;
    min-width: 240px;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .c-cta-item-img {
    width: 100%;
    margin-top: 16px;
  }
}

/*!
component > button
----------------------
*/
.c-button-cta {
  margin: 40px auto 0;
  width: 95%;
  max-width: 586px;
  display: block;
  transition-duration: 0.3s;
  transition-property: opacity, filter, transform;
  filter: drop-shadow(1px 3px 2px rgb(0, 0, 0));
}
@media screen and (min-width: 500px) {
  .c-button-cta {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .c-button-cta:hover {
    opacity: 0.7;
    filter: none;
    transform: translateY(1px);
  }
}

/*!
component > body-separate-line
----------------------
*/
.c-body-separate-line {
  position: relative;
}
.c-body-separate-line::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-image: repeating-linear-gradient(-45deg, var(--color-font-brown), var(--color-font-brown) 2px, transparent 0, transparent 4px);
}

.c-body-separate-line-cta {
  position: relative;
}
.c-body-separate-line-cta::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background-image: repeating-linear-gradient(-45deg, var(--color-font-white), var(--color-font-white) 2px, transparent 0, transparent 4px);
}

/*!
layout > header
----------------------------
*/
.header {
  border-top: solid 7px var(--color-border-header-yellow);
  height: 104px;
  display: flex;
  align-items: center;
  z-index: var(--z-index-header);
  background-color: var(--color-bg-white);
  position: sticky;
  left: 0;
  top: -20px;
}

.header-inner {
  position: sticky;
  height: 84px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 200px;
  z-index: var(--z-index-header-btn);
}
.header-logo img {
  display: block;
}

.header-openbtn {
  position: absolute;
  z-index: var(--z-index-header-btn);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 52px;
  opacity: 1;
  visibility: visible;
  right: 5%;
  top: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.header-openbtn span {
  display: block;
  background-color: var(--color-bg-gray);
  width: 40px;
  height: 3px;
  transition: all 0.4 ease;
}
.header-openbtn span:nth-child(2) {
  margin: 10px 0;
}
.header-openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(3px) rotate(-45deg);
  width: 50%;
}
.header-openbtn.active span:nth-of-type(2) {
  opacity: 0;
  margin: 0;
}
.header-openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-3px) rotate(45deg);
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header-openbtn {
    display: none;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
    position: static;
    background-color: transparent;
    z-index: auto;
    width: auto;
    padding: 0;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1080px) {
  .header-nav-list {
    gap: 72px;
  }
}

.header-nav-list-item {
  white-space: nowrap;
  text-align: center;
  position: relative;
  padding: 8px;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  .header-nav-list-item a:hover {
    opacity: 0.7;
  }
}
.header-nav-list-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 4px;
}
@media screen and (min-width: 768px) {
  .header-nav-list-item::before {
    padding: 0;
    top: -24px;
    height: 7px;
    width: 118px;
  }
}
@media screen and (min-width: 1080px) {
  .header-nav-list-item::before {
    width: 170px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-list-item::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    opacity: 0;
    transition: opacity 0.2s;
  }
}
.header-nav-list-item--about::before {
  background-color: var(--color-border-header-red);
}
.header-nav-list-item--about::after {
  border-color: var(--color-border-header-red) transparent transparent transparent;
}
.header-nav-list-item--trial::before {
  background-color: var(--color-border-header-green);
}
.header-nav-list-item--trial::after {
  border-color: var(--color-border-header-green) transparent transparent transparent;
}
.header-nav-list-item--farmers::before {
  background-color: var(--color-border-header-brown);
}
.header-nav-list-item--farmers::after {
  border-color: var(--color-border-header-brown) transparent transparent transparent;
}
.header-nav-list-item--voice::before {
  background-color: var(--color-border-header-orange);
}
.header-nav-list-item--voice::after {
  border-color: var(--color-border-header-orange) transparent transparent transparent;
}

.header-nav-list-item:hover.header-nav-list-item::after {
  opacity: 1;
}

.header-nav-list-item-ja {
  font-size: 12px;
  font-family: var(--font-family-primary);
  color: var(--color-font-red);
  display: block;
  line-height: 1;
}

.header-nav-list-item-en {
  font-size: 20px;
  font-family: var(--font-family-base);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

/*
* sp-menu-drawer
*/
.sp-menu-drawer-mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-sp-menu-mask);
  opacity: 0;
  transition: all 0.7s;
  visibility: hidden;
}
.sp-menu-drawer-mask.show {
  opacity: 1;
  visibility: visible;
}

.sp-menu-drawer {
  background-color: var(--color-bg-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80dvh;
  z-index: var(--z-index-sp-menu);
  transform: translateY(-1000px);
  pointer-events: none;
  transition: all 0.7s;
  visibility: hidden;
}
.sp-menu-drawer.show {
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.sp-menu-nav {
  padding: 128px 20px 80px;
}

.sp-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sp-menu-nav-list-item {
  text-align: center;
  position: relative;
  padding: 8px;
}
.sp-menu-nav-list-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 4px;
}
.sp-menu-nav-list-item--about::before {
  background-color: var(--color-border-header-red);
}
.sp-menu-nav-list-item--about::after {
  border-color: var(--color-border-header-red) transparent transparent transparent;
}
.sp-menu-nav-list-item--trial::before {
  background-color: var(--color-border-header-green);
}
.sp-menu-nav-list-item--trial::after {
  border-color: var(--color-border-header-green) transparent transparent transparent;
}
.sp-menu-nav-list-item--farmers::before {
  background-color: var(--color-border-header-brown);
}
.sp-menu-nav-list-item--farmers::after {
  border-color: var(--color-border-header-brown) transparent transparent transparent;
}
.sp-menu-nav-list-item--voice::before {
  background-color: var(--color-border-header-orange);
}
.sp-menu-nav-list-item--voice::after {
  border-color: var(--color-border-header-orange) transparent transparent transparent;
}

.sp-menu-nav-list-item-ja {
  font-size: 12px;
  font-family: var(--font-family-primary);
  color: var(--color-font-red);
  display: block;
  line-height: 1;
}

.sp-menu-nav-list-item-en {
  font-size: 20px;
  font-family: var(--font-family-base);
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

html .not-scroll,
body .not-scroll {
  overflow: hidden;
}

/*!
layout > footer
----------------------------
*/
.footer {
  padding: 40px 0 16px;
  background-image: url(../img/bg-pattern-footer@2x.jpg);
  background-image: image-set(url(../img/bg-pattern-footer.jpg) 1x, url(../img/bg-pattern-footer@2x.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg-pattern-footer.jpg) 1x, url(../img/bg-pattern-footer@2x.jpg) 2x);
  background-size: 100px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-image: repeating-linear-gradient(-45deg, var(--color-border-gray), var(--color-border-gray) 1px, transparent 0, transparent 4px);
}

.footer-inner {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.footer-logo {
  width: 200px;
  margin: 0 auto;
}
.footer-logo img {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin: 0;
  }
}

.footer-copyright {
  margin-top: 32px;
  display: block;
  font-size: 12px;
  color: var(--color-font-copyright);
  font-family: var(--font-family-base);
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    margin-top: 0;
  }
}

/*!
layout > container
----------------------------
*/
.l-container {
  width: 90%;
  margin: 0 auto;
  max-width: var(--width-content);
}

/*!
layout > section-body
----------------------------
*/
.l-section-body {
  padding: 32px 8px 0;
}
@media screen and (min-width: 768px) {
  .l-section-body {
    padding: 52px 24px 0;
  }
}

/*!
layout > section
----------------------------
*/
.l-section {
  padding: 40px 0 32px;
}
@media screen and (min-width: 768px) {
  .l-section {
    padding: 56px 0;
  }
}/*# sourceMappingURL=style.css.map */