/*!
global > color
--------------------------------------
*/
:root {
    --color-bg-markerline: #efe752;
    --color-bg-markerline02: #ffe57d;
    --color-bg-dot: #f2e916;
    --color-bg-dot-inner: #f7f392;
    --color-bg-dot02: #eee5d8;
    --color-bg-white: #fafafa;
    --color-bg-lightbrown: #e8e3df;
    --color-bg-lightbrown02: #ecece2;
    --color-bg-brown: #91806c;
    --color-bg-yellow: #ece202;
    --color-bg-yellow02: #f2e916;
    --color-bg-lightyellow: #fffee4;
    --color-bg-red: #c30d23;
    --color-bg-red02: #e88a69;
    --color-bg-gray: #828282;
    --color-bg-gradation: #5a3f37;
    --color-bg-gradation02: #6c4c16;
    --color-border-gray: #c9c9c9;
    --color-border-gray02: #9f958c;
    --color-border-white: #ffffff;
    --color-border-header-yellow: #fbd9b1;
    --color-border-header-red: #ef8e8e;
    --color-border-header-green: #a2b78f ;
    --color-border-header-brown: #d1bea9;
    --color-border-header-orange: #f2b98f;
    --color-font-header-sub: #11361F;
    --color-font-black: #474747;
    --color-font-white: #ffffff;
    --color-font-brown: #756351;
    --color-font-red: #b32133;
    --color-font-red02: #c30d23;
    --color-font-blue: #0f59ac;
    --color-font-green: #468e20;
    --color-font-yellow: #fff600;
    --color-font-lightbrown: #abac28;
    --color-font-copyright: #91806c;
}