/*!
global > mixin
-----------------------------
*/
:root {
    --z-index-header: 10;
    --z-index-sp-menu: 9;
    --z-index-sp-menu-mask: 8;
    --z-index-header-btn: 20;
    --z-index-default: 1;
}